.button {
	min-height: 2.75rem;
	min-width: 2.75rem;
	border-radius: 0.75rem;
	font-size: 0.9rem;
	padding: 0.5rem;
	border: 2px black solid;
	width: 100%;
}

.active {
	color: rgb(255, 255, 255);
	background: black;
}

.button:hover {
	cursor: pointer;
}